.arrows {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -14%;
    margin-right: 4%;
}

.cat {
    margin: 15px;
}

.glasses {
    position: absolute;
    width: 212px;
    height: 103px;
    margin-top: 120px;
    margin-left: 70px;
}
.back{
    
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -14%;
    margin-right: 4%;
}