.header {
    position: absolute;
    width: 375px;
    height: 66px;
    left: 0px;
    top: 0px;
    display: table;
    background: #FFFFFF;
}

.content {
    width: 368px;
    height: 572px;
    background: linear-gradient(180deg, #E8F0F2 0%, rgba(232, 240, 242, 0) 100%);

}